"*":
  "exception-reporting":
    userId: "1d8654db-6039-05d6-206d-be71c3794862"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "tree-view"
    ]
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
    customFileTypes:
      "source.json": [
        ".arcconfig"
      ]
      "source.python": [
        "BUCK"
      ]
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
  editor:
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    fontFamily: "Source code pro"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  nuclide:
    "nuclide-home":
      showHome: false
    "nuclide-arcanist": {}
    "nuclide-buck-files": {}
    "nuclide-clang-atom": {}
    "nuclide-debugger-hhvm": {}
    "nuclide-flow": {}
    "nuclide-format-js": {}
    "nuclide-hack": {}
    "nuclide-health": {}
    "nuclide-ocaml": {}
    "nuclide-output": {}
  "one-dark-ui": {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  "spell-check":
    grammars: [
      "source.js"
      "source.json"
    ]
  docblockr: {}
  "git-diff":
    showIconsInEditorGutter: true
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 120
".html.php.text":
  editor:
    preferredLineLength: 120
".js.regexp.source":
  editor:
    preferredLineLength: 120
".hack.html.text":
  editor:
    preferredLineLength: 120
".js.source":
  editor:
    preferredLineLength: 120
".ansi.text":
  editor:
    preferredLineLength: 120
".hackfragment.source":
  editor:
    preferredLineLength: 120
